attrs==23.1.0
beniget==0.4.1
certifi==2023.7.22
cffi==1.15.1
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.1.0
cycler==0.11.0
Cython==0.29.34
Fiona==1.9.4.post1
fonttools==4.42.1
gast==0.5.4
geopandas==0.13.2
importlib-metadata==6.8.0
importlib-resources==6.0.1
kiwisolver==1.4.5
matplotlib==3.7.2
numpy==1.24.3
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
ply==3.11
prompt-toolkit==3.0.38
pybind11==2.10.4
pycparser==2.21
Pygments==2.15.1
pyparsing==3.0.9
pyproj==3.6.0
python-dateutil==2.8.2
pythran==0.13.1
pytz==2023.3
radian==0.6.6
rchitect==0.3.40
scipy==1.10.1
shapely==2.0.1
six==1.16.0
tzdata==2023.3
wcwidth==0.2.6
zipp==3.16.2
